body {
}
/* .employeeForm {
  margin: 10% 30%;
} */
.btnCenter {
  margin: 0 0 0 45%;
}
.dateNow {
  margin: 0% auto;
}
.btn-group {
  padding: 2% 0% 2% 10%;
  margin: 0 10% 0 150%;
}
.workPlace {
  margin: 10% 25%;
}
