body {
}
.dateNow {
  margin: 0% 5% 0 50%;
}
.btn-group {
  padding: 2% 0% 2% 10%;
  margin: 0 10% 0 100%;
}
.workPlace {
  text-align: center;
  margin: 10% 25%;
}
.send {
  margin: 1% 0 0 0;
}
.lb1 {
  padding: 0px 79% 0 0px;
}
.lb2 {
  padding: 0px 93% 0 0px;
}
input[type="date"] {
  margin: 0 auto;
  min-width: 216px;
}
.sp1,
.sp2,
.sp3 {
  margin: 0 auto;
}

.status {
  margin: 21px 0 15px;
  min-width: 230px;
}
.vacationFrom {
  max-width: 250px;
  text-align: center;
}
.vacationOn {
  max-width: 250px;
  text-align: center;
}
.custom-select {
  min-width: 250px;
}
.name {
  font-size: 1.3em;
}
.sp2,
.sp3 {
  margin: 10px 0;
}
